workDir = "data/102.splice_workflow/work"

process {
    // executor = 'slurm'
    // clusterOptions = "--partition=compute,xu-gpu --exclude='xu_cu21,xu_cu23,xu_cu25'"
    
    // // 默认资源配置
    // cpus = 6
    // memory = '32 GB'
    
    // withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
    //     cpus = 4
    //     memory = '16 GB'
    // }
    // withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
    //     cpus = 6
    //     memory = '32 GB'
    //     containerOptions = '--user $(id -u):$(id -g)'
    // }
    
    // 全局资源限制
    resourceLimits = [ cpus: 50, memory: 400.GB]
}
executor {
    name         = 'local'
    // queueSize    = 100
    // pollInterval = '10 sec'
    // clusterOptions = "--partition=compute,xu-gpu --exclude='xu_cu21,xu_cu23,xu_cu25'"
}
params {
    // Default Resources
    max_memory                 = 400.GB
    max_cpus                   = 50
    // max_time                   = 1.h
}